/* NAV */
.fuentesNav {
    color: $azul;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 15px;
    background-color: $azul;
}

.fuentesNav a:hover {
    background-color: rgb(240, 240, 62, 0.7);
}

.navPosiciones {
    color: $azul;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 15px;
    background-color: $azul;
    display: flex;
    list-style: none;
    padding: 0;
}

.navPosiciones a:hover {
    background-color: rgb(240, 240, 62, 0.7);
}

.nav-itemPos {
    margin-right: 10px; /* Ajusta el espacio entre los elementos según tu preferencia */
    text-align: center;
    font-size: 0,5rem;
}
.tituloPosiciones {
    background-color: rgba(10, 43, 188, 0.1);
    text-align: center;
    align-content: center;
    text-transform: uppercase;
}