/* TABLAS */
table {
    margin: 10px;
    font-family:$antonio;
    font-size: 0,8rem;
    font-weight: 400;
    color: white;
    background-color: rgba(4, 16, 59, 0.7);
}

.tablaFixture {
    margin: 10px;
    display: block;
    font-size: 0,8rem;

}
.espacioTabla {
    color: rgba(4, 16, 59, 0.7);
    background-color: rgba(4, 16, 59, 0.7);
}

caption {
    color: $amarillo;
    font-weight: bold;
    font-size: 30px;
    font-family: $antonio;
}
